{:paths    ["src/main/clojure" "src/main/resources"]
 :deps     {clj-http                            {:mvn/version "3.12.3" :exclusions [cheshire]}
            org.clojure/data.json               {:mvn/version "2.4.0"}
            clj-sockets                         {:mvn/version "0.1.0"}
            org.clojure/tools.logging           {:mvn/version "1.2.2"}
            org.apache.logging.log4j/log4j-api  {:mvn/version "2.16.0"}
            org.apache.logging.log4j/log4j-core {:mvn/version "2.16.0"}
            org.apache.logging.log4j/log4j-jcl  {:mvn/version "2.16.0"}}
 :jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"]}
